@charset "UTF-8";

@media screen and (max-width: 767px){

.logo-header > h1 {
  font-family: "Science Gothic", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "CTRS" 0;
  margin: 0;
  font-size: 1vw;
  text-align: center;
}

.header {
  position: fixed;
  z-index: 1000;
  background: white;
  width: 100%;
  height: 114px;
  justify-content: space-between;
  align-items: center;
  padding: 0.75vh 1vw;
  border-bottom: 2px solid rgb(121, 121, 121);
  box-sizing: border-box;
}

.header-url {
  display: flex;
  gap: 1.5vh;
}

.header-url a {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  font-size: 2.15vh;
}
main{
    text-align: center;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  text-align: center;
}

.intro h2 {
  font-size: 2vh;
  margin-bottom: 1vh;
}

.intro p {
  font-size: 1.75vh;
  margin: 0;
  padding-bottom: 2.5vh;
}

.JavaSkinChanger > img{
    width: 13%;
    padding-bottom: 5vh;
}

.McServerStatus > img{
    width: 13%;
    padding-bottom: 5vh;

}

.McServerStatus > .mss{
    padding-top: 5vh;
}

.btnApp{
    padding: 1.75vh;
    background: rgb(14, 158, 1);
    border-radius: 1.25vh;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

spam{
    font-size: 1.5vh;
}

.mods{
    padding-top: 5vh;
}

.mods {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.DownloadBtn{
    background: rgb(119, 0, 255);
    border-radius: 1.25vh;
    color:white;
    padding: 1.75vh;
    text-decoration: underline;
    text-decoration-color: white;
}
}
.logo-header > h1 {
  font-family: "Science Gothic", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "CTRS" 0;
  margin: 0;
  font-size: 4vh;
}

.header {
  position: fixed;
  z-index: 1000;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vw;
  border-bottom: 2px solid rgb(121, 121, 121);
  box-sizing: border-box;
}

.header-url {
  display: flex;
  gap: 3vh;
}

.header-url a {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  font-size: 3.15vh;
}
main{
    text-align: center;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

.intro h2 {
  font-size: 4vh;
  margin-bottom: 1vh;
}

.intro p {
  font-size: 2.5vh;
  margin: 0;
  padding-bottom: 3vh;
}

.JavaSkinChanger > img{
    width: 15%;
    padding-bottom: 7vh;
}

.McServerStatus > img{
    width: 15%;
    padding-bottom: 7vh;

}

.McServerStatus > .mss{
    padding-top: 7vh;
}

.btnApp{
    padding: 1.75vh;
    background: rgb(14, 158, 1);
    border-radius: 1.25vh;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

spam{
    font-size: 1.5vh;
}

.mods{
    padding-top: 5vh;
}

.mods {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.DownloadBtn{
    background: rgb(119, 0, 255);
    border-radius: 1.25vh;
    color:white;
    padding: 1.75vh;
    text-decoration: underline;
    text-decoration-color: white;
}